.grid { margin:1em auto; }
.grid td:not(.border) {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.border {
    width:30px; height:30px;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.table { margin:1em auto; }
.table td {
    height:30px;
    border:1px solid #ccc;
    text-align: center;
    font-family:sans-serif; font-size:15px
}
.table td.name {
    padding-left: 5px;
    text-align: start;
}
.settings,
.data {
    display: flex;
    min-width: 50%;
}
.data .invisible {
    display: none;
}
fieldset{
    border-radius: 10px;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    font-family:sans-serif; font-size:15px
}
.legend {
    display: flex;
    flex-direction: column;
}
.legend .circle {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:1px solid black;
}
.legend img {
    align-self: center;
}
.legenddetail {
    display: flex;
    justify-content: end;
    margin: 10px;
}
.clicked {
    background-color: #AEDE43;
    font-weight:bold; color:#FFFFFF;
}
.multiclicked {
    background-color: #FEC501;
    font-weight:bold; color:#FFFFFF;
}
.winner {
    background-color: #CF1C34;
    font-weight:bold; color:#F3F3F3;
}
